/* Контейнер для картинки */
.image-container {
    position: relative;
    width: 100%; /* Встановлюємо ширину контейнера 100% */
    max-width: 1200px; /* Максимальна ширина контейнера */
    height: auto;
    overflow: hidden;
    border-radius: 10px; /* Круглі краї */
    margin-left: 300px; /* Відступ для бокового меню */
    margin-top: 10px; /* Відступ згори */
    margin-bottom: 45px; /* Відступ від футера */
}

/* Картинка */

.image {
    width: 100%; /* Встановлюємо ширину картинки на 100% */
    height: auto;
    object-fit: cover; /* Забезпечує правильне масштабування картинки, щоб вона покривала контейнер */
    max-width: 1200px; /* Максимальна ширина картинки */
}


/* Текст, що накладається на картинку */
.text-overlay {
    position: absolute;
    bottom: 10%; /* Текст буде на 10% віднизу */
    left: 10%;   /* Текст буде на 10% відліва */
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тінь для покращення видимості тексту */
    z-index: 10; /* Додаємо індекс шару, щоб текст був на передньому плані */
}


/* Адаптація для екранів до 1200px */
@media (max-width: 1200px) {
    .image {
        max-width: 70%; /* Картинка буде адаптуватися до ширини контейнера */
        width: 100%; /* Переконатися, що ширина не перевищує 100% */
    }
}

/* Адаптація для мобільних пристроїв (до 768px) */
@media (max-width: 768px) {
    .image-container {
        margin-left: 20px; /* Зменшення відступу для мобільних */
        margin-right: 20px; /* Додаємо відступ справа */
    }

    .text-overlay {
        font-size: 28px; /* Зменшення розміру тексту */
        bottom: 8%; /* Текст переміщається вгору */
        left: 8%; /* Текст переміщається правіше */
    }

    .image {
        width: 72%;
        height: auto;
    }
}

/* Адаптація для дуже малих екранів (до 480px) */
@media (max-width: 480px) {
    .text-overlay {
        font-size: 20px; /* Зменшення шрифту для дуже малих екранів */
        bottom: 5%; /* Текст ближче до низу */
        left: 5%;   /* Текст ближче до лівого краю */
    }


    .image {
        width: 72%;
        height: auto;
        object-fit: cover;
    }
}
