/* Footer */
footer {
    background: linear-gradient(90deg, #be3ccc, #9724a3);  /* Градієнтний фон для футера */
    padding: 30px 100px;  /* Відступи по вертикалі 30px, по горизонталі 100px */
    color: white;
    text-align: center;
    font-size: 16px;
    border-top: 2px solid #f26f90;
    margin-top: auto;
    display: flex; /* Використовуємо Flexbox */
    justify-content: flex-start; /* Зміщення контенту зліва */
    margin-left: 250px; /* Зсувимо футер вправо */
}

/* Для колонок */
footer .footer-column {
    width: 30%; /* Ширина колонок, 30% на кожну */
    margin-right: 10px; /* Відступ між колонками */
}

/* Остання колонка не має відступу праворуч */
footer .footer-column:last-child {
    margin-right: 0;
}

/* Стилі для класів зміщення футера */
.footer-left {
    justify-content: flex-start; /* Вирівнювання колонок вліво */
}

.footer-right {
    justify-content: flex-end; /* Вирівнювання колонок вправо */
}

/* Медіа-запит для мобільних пристроїв */
@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Робимо колонки вертикальними на малих екранах */
        align-items: center; /* Центруємо елементи по вертикалі */
        padding: 20px 50px; /* Зменшуємо відступи на мобільних */
        margin-left: 0; /* Прибираємо зсув на мобільних */
    }

    footer .footer-column {
        width: 100%; /* Зробити кожну колонку на всю ширину */
        margin-right: 0; /* Відсутність відступу між колонками */
        text-align: center; /* Вирівнювання тексту по центру */
    }
}



footer .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer .footer-column a {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

footer .footer-column a:hover {
    color: #f26f90;
}