body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header */
/* Header */
header {
background-color: #181818;
padding: 15px;
display: flex;
justify-content: space-between; /* Забезпечує відстань між логотипом і кнопками */
align-items: center;
border-bottom: 2px solid #f26f90;
}

/* Центрування лише навігаційних посилань та зсув вправо */
header .nav {
display: flex;
gap: 30px;
justify-content: center;  /* Центрує кнопки */
flex-grow: 1; /* Займає весь доступний простір між логотипом і кнопками Login/Sign Up */
margin-left: 450px; /* Зсувимо кнопки вправо */
}

/* Стилі для навігаційних посилань */
header .nav a {
color: #fff;
text-decoration: none;
font-size: 16px;
padding: 5px 10px;
transition: background-color 0.3s;
}

header .nav a:hover {
background-color: #f26f90;
border-radius: 54px;
}

/* Стилі для Login/Sign Up, вони залишаються в правій частині */
header .login-signup {
display: flex;
gap: 20px;
}
/* Додавання стилів для поля вводу */
header .login-signup .search-input {
padding: 5px 5px;
font-size: 14px;
border-radius: 5px;
border: 1px solid #444;
background-color: #222;
color: #fff;
margin-right: 15px;  /* Відступ між полем вводу та кнопками Login/Sign Up */
}

header .login-signup a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* Hide Home, About Us, Premium on mobile screens */
@media (max-width: 768px) {
    header .nav {
        display: none; /* Hide navigation links */
    }

    header .login-signup {
        margin-left: auto; /* Move the login/signup buttons to the right */
    }
}