.profile-container { 
    display: flex; /* Використовуємо flexbox для розміщення двох колонок */
    margin-left: 300px; /* Відступ для Sidebar */
    max-width: 74%; /* Максимальна ширина */
    margin-top: 20px; /* Відступ від хедеру */
    margin-bottom: 70px; /* Відступ від футера */
    background: linear-gradient(90deg, rgba(94, 39, 126, 1) 0%, rgba(134, 63, 123, 1) 100%); /* Градієнтний фон */
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.profile-details {
    flex: 1; /* Ліва частина для деталей профілю */
    margin-right: 20px;
}

.profile-image {
    flex: 1; /* Права частина для картинк */
}

.profile-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Забезпечує правильне масштабування */
    border-radius: 10px;
}

/* Стилі для інпутів, кнопок */
.password-change input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #f5eeee;
    color: white;
    width: 88%;
    margin-bottom: 10px;
}

.password-change button {
    background-color: #D5006D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 92%;
}

.password-change button:hover {
    background-color: #C1005B;
}

/* Адаптація для мобільних пристроїв до 768px */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column; /* Змінюємо на колонку для мобільних */
        margin-left: 20px; /* Зменшуємо відступ */
        margin-right: 20px; /* Зменшуємо відступ */
    }

    .profile-image img {
        width: 100%; /* Картинка має займати всю ширину */
    }

    .password-change input {
        width: 100%; /* Збільшуємо ширину інпутів */
    }

    .password-change button {
        width: 100%; /* Кнопка займає всю ширину */
    }
}

/* Адаптація для екранів до 480px */
@media (max-width: 480px) {
    .profile-container {
        padding: 10px; /* Зменшуємо padding для мобільних */
    }

    .profile-details h1 {
        font-size: 24px; /* Зменшуємо розмір заголовку */
    }

    .profile-details p {
        font-size: 14px; /* Зменшуємо шрифт тексту */
    }

    .password-change input {
        padding: 8px; /* Зменшуємо padding для інпутів */
        font-size: 14px; /* Зменшуємо шрифт */
    }

    .password-change button {
        padding: 8px 16px; /* Зменшуємо padding для кнопки */
        font-size: 14px; /* Зменшуємо шрифт кнопки */
    }
}

