{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Office.css' %}">
{% endblock extra_css%}

{% block content %}

<!-- Trending Songs Section -->
<!-- Trending Songs Section -->
<div class="trending-songs-container">
    <!-- Фото альбому -->
    <img src="{% static '/musicapp/images/Melonix.png' %}" alt="Album Cover" class="album-cover">
    
    <div class="content">
        <h1>Інформація про нас</h1>
        <p>Наша музична платформа створена для того, щоб ви могли насолоджуватися улюбленими піснями в будь-який час і в будь-якому місці. Ми пропонуємо великий вибір музики різних жанрів, від класики до сучасних хітів. Ви можете слухати музику онлайн або створювати власні плейлисти, щоб завжди мати під рукою найкращі композиції.</p>
        <p>Ми віримо, що музика повинна бути доступною для всіх, тому пропонуємо як безкоштовні, так і преміум-плани для користувачів. Платформа підтримує персоналізовані рекомендації, що дозволяють вам відкривати нові треки і виконавців, які вам сподобаються.</p>
        <p>Приєднуйтесь до нашої платформи і відкрийте для себе безмежний світ музики!</p>
    </div>
</div>

{% endblock content%}
