{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Albums.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/New-Release-Songs.css' %}">
{% endblock extra_css%}

{% block content %}


<div class="new-release-container">
    <h2>Top  <span>Mixes</span></h2>
    {% for mix in mixes %}
    <a href="{% url 'mix' mix.id %}">
        <div class="song-block">
            <img src="{{ mix.get_image }}" alt="{{ mix.name }}">
            <div class="song-title">{{ mix.name }}<br><small>{{ mix.owner.name }}</small></div>
        </div>
    </a>
    {% empty %}
        <tr>
            <td colspan="5">No mixes available.</td>
        </tr>
    {% endfor %}
</div>


<!-- Нові релізи пісень -->
<div class="new-release-container">
    <h2>Top  <span>Radio</span></h2>
    {% for radio in radio_mixes %}
    <a href="{% url 'mix' radio.id %}">
        <div class="song-block">
            <img src="{{ radio.get_image }}" alt="{{ radio.name }}">
            <div class="song-title">{{ radio.name }}<br><small>{{ radio.owner.name }}</small></div>
        </div>
    </a>
    {% empty %}
        <tr>
            <td colspan="5">No radio mixes available.</td>
        </tr>
    {% endfor %}
</div>


<!--&lt;!&ndash; Нові релізи пісень &ndash;&gt;-->
<!--<div class="new-release-container">-->
<!--    <h2>Top  <span>Albums</span></h2>-->
<!--    {% for album in albums %}-->
<!--    <a href="{% url 'mix' album.id %}">-->
<!--        <div class="song-block">-->
<!--            <img src="{{ album.get_image }}" alt="{{ album.name }}">-->
<!--            <div class="song-title">{{ album.name }}<br></div>-->
<!--        </div>-->
<!--    </a>-->
<!--    {% empty %}-->
<!--        <tr>-->
<!--            <td colspan="5">No albums available.</td>-->
<!--        </tr>-->
<!--    {% endfor %}-->
<!--</div>-->


{% endblock content%}
