{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Artists.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ArtistsSidebar.css' %}">
{% endblock extra_css%}

{% block content %}

<!-- Popular Artists -->
<div class="popular-artists-container">

    {% for artist in popular_artists %}
    <a href="{{ artist.get_absolute_url }}">
        <div class="artist-block">
            <img src="{{ artist.get_profile_image }}" alt="{{ artist.name }}">
        </div>
    </a>
    {% endfor %}

</div>


{% endblock content%}
