{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Songs</title>

    <link rel="stylesheet" href="{% static '/musicapp/сss/Heder2R.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Sidebar.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Footer.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/BottomPlayer.css' %}">

    {% block extra_css %}{% endblock extra_css%}
</head>

<body>
<!-- Audio Player -->
<audio id="audio-player"></audio>

<!-- Header -->
{% include 'Header.html' %}

<!-- Sidebar -->
{% include 'Sidebar.html' %}

    {%  block content %}
        <!-- Content goes here -->
    {%  endblock content %}

<!-- Player Controls -->
{% include 'BottomPlayer.html' %}

<!-- Footer -->
{% include 'Footer.html' %}



<!-- Common JavaScript included here -->
<script src="{% static '/musicapp/js/sidebar.js' %}"></script>
<script src="{% static '/musicapp/js/player.js' %}"></script>
{% block extra_scripts %}{% endblock extra_scripts%}
</body>
</html>
