<footer>
    <div class="footer-column">
        <h3>Melodies</h3>
        <a href="#">Songs</a>
        <a href="#">Radio</a>
        <a href="#">Podcast</a>
    </div>
    <div class="footer-column">
        <h3>Access</h3>
        <a href="#">Explore</a>
        <a href="#">Artists</a>
        <a href="#">Playlists</a>
        <a href="#">Albums</a>
        <a href="#">Trending</a>
    </div>
    <div class="footer-column">
        <h3>Contact</h3>
        <a href="{% url 'about' %}">About</a>
        <a href="#">Policy</a>
        <a href="#">Social Media</a>
        <a href="#">Support</a>
    </div>
</footer>