{% load static %}

<header>
    <div class="nav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'premium' %}">Premium</a>
    </div>
    <div class="login-signup">
        {% if request.resolver_match.url_name == 'home' %}
        <!-- Elements for Home Page -->
            <input type="text" placeholder="Search..." class="search-input"> <!-- Нове поле вводу -->
            <a id="login" href="#">Login</a>
            <a id="sign-up" href="#">Sign Up</a>
        {% else %}
        <!-- Elements for Other Pages -->
            <input type="text" placeholder="Search..." class="search-input"> <!-- Нове поле вводу -->
            <!-- Dropdown кнопка -->
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="{% static '/musicapp/images/Melonix.png' %}" alt="Dropdown" class="dropdown-img"> <!-- Ваше зображення -->
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'office' %}">Profile</a> <!-- Перехід до особистого кабінету -->
                </div>
            </div>
        {% endif %}

    </div>
</header>