{% load static %}

<header>
    <div class="nav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'premium' %}">Premium</a>
    </div>
    <div class="login-signup">
        {% if request.resolver_match.url_name == 'home' %}
        <!-- Elements for Home Page -->
<!--            <input type="text" placeholder="Search..." class="search-input"> &lt;!&ndash; Нове поле вводу &ndash;&gt;-->
            <form action="search" method="POST">
            {% csrf_token %}

            <div class="search-bar">
                <input type="search" name="search_query" placeholder="Search..." aria-label="Search">
                <button type="submit" class="search-button" aria-label="Search">
                    🔍
                </button>
            </div>
        </form>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="link-button">Logout</button>
                </form>
            {% else %}
                <a id="login" href="{% url 'login' %}">Login</a>
                <a id="sign-up" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        {% else %}
        <!-- Elements for Other Pages -->
<!--            <input type="text" placeholder="Search..." class="search-input"> &lt;!&ndash; Нове поле вводу &ndash;&gt;-->
            <form action="search" method="POST">
            {% csrf_token %}

            <div class="search-bar">
                <input type="search" name="search_query" placeholder="Search..." aria-label="Search">
                <button type="submit" class="search-button" aria-label="Search">
                    🔍
                </button>
            </div>
        </form>
        <!-- Dropdown кнопка -->
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="{% static '/musicapp/images/Melonix.png' %}" alt="Dropdown" class="dropdown-img"> <!-- Ваше зображення -->
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'office' %}">Profile</a> <!-- Перехід до особистого кабінету -->
                </div>
            </div>
        {% endif %}

    </div>
</header>