{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/New-Release-Songs.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Trending-Songs.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Artists.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Join-Our-Platform.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ArtistsSidebar.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ModalRegister.css' %}">
{% endblock extra_css%}


{% block content %}


<!-- Нові релізи пісень -->
<div class="new-release-container">
    <h2>New Release <span>Songs</span></h2>
    {% for song in new_releases %}
    <a href="{% url 'song' song.id %}">
        <div class="song-block">
            <img src="{{ song.get_image }}" alt="{{ song.name }}">
            <div class="song-title">{{ song.name }}<br><small>{{ song.artist.name }}</small></div>
        </div>
    </a>
    {% endfor %}
</div>


<!-- Trending Songs -->
<div class="playlist-container">
    <h1>Songs <span>Songs</span></h1>

    <table class="tracklist">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Album</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>

            {% for song in trending_songs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="song-title">
                    <img src="{{ song.get_image }}" alt="{{ song.name }}">
                    <div>
                        <a href="{% url 'song' song.id %}"><strong>{{ song.name }}</strong><br></a>
                        <small>{{ song.artist.name }}</small>
                    </div>
                </td>
                <td>{{ song.release_date|date:"M d, Y" }}</td>
                <td>{{ song.album.name|default:"-" }}</td>
                <td>{{ song.duration|format_duration }} <span class="heart-icon">❤</span> <span class="play-icon" onclick="playSong(this, '{{ song.audio_url }}')">▶</span></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="view-all">+ View All</div>
</div>


<!-- Popular Artists -->
<div class="popular-artists-container">

    {% for artist in popular_artists %}
    <a href="{{ artist.get_absolute_url }}">
        <div class="artist-block">
            <img src="{{ artist.get_profile_image }}" alt="{{ artist.name }}">
        </div>
    </a>
    {% endfor %}

</div>


<!-- Join Our Platform Form -->
<div class="join-platform-container">
    <!-- Text Section -->
    <div class="text-section">
        <h1>Join Our Platform</h1>
        <p>You can be one of the members of our platform by just adding some necessary information. If you already have an account on our website, you can just hit the Login button.</p>
        <p>Once you're signed up, you’ll get access to a variety of features, including personalized playlists, exclusive content, and much more. It's simple to get started, and we promise a seamless experience throughout.</p>
        <p>Don't miss out! Join us today and start exploring everything we have to offer. We’re excited to have you with us!</p>
    </div>

    <!-- Form Section -->
    <div id="signup-form" class="form-container">
        <h1>Sign Up</h1>
        <form>
            <input type="text" placeholder="Enter Your Name" required>
            <input type="email" placeholder="Enter Your E-Mail" required>
            <input type="password" placeholder="Enter Password" required>
            <input type="password" placeholder="Repeat Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <button class="social-signup">
            <img id="google-img" src="{% static '/musicapp/images/Google.png' %}" alt="Google Icon" width="20" height="20">
            Sign Up With Google
        </button>
        <button class="social-signup">
            <img id="facebook-img" src="{% static '/musicapp/images/Facebook.png' %}" alt="Google Icon" width="20" height="20">
            Sign Up With Facebook
        </button>
        <button class="social-signup">
            <img id="apple-img" src="{% static '/musicapp/images/apple.png' %}" alt="Google Icon" width="20" height="20">
            Sign Up With Apple
        </button>
    </div>
</div>

<div id="modal-login" class="modal">
  <div class="modal-content">
    <h2>Вхід</h2>
    <form id="login-form">
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Пароль" required>
      <button type="submit">Увійти</button>
    </form>

    <div class="separator">або</div>

    <button class="social-btn">
      <img src="{% static '/musicapp/images/Google.png' %}" alt="Google">
      Увійти через Google
    </button>

    <button class="social-btn">
      <img src="{% static '/musicapp/images/Facebook.png' %}" alt="Facebook">
      Увійти через Facebook
    </button>

    <button class="social-btn">
      <img src="{% static '/musicapp/images/apple.png' %}" alt="Apple">
      Увійти через Apple
    </button>
  </div>
</div>

{% endblock content%}

<!--{% block extra_scripts %}-->
<!--<script>-->
<!--    // Open login modal-->
<!--    const loginBtn = document.getElementById('login');-->
<!--    const modalLogin = document.getElementById('modal-login');-->

<!--    loginBtn.addEventListener('click', () => {-->
<!--        modalLogin.classList.add("modal_open");-->
<!--    })-->

<!--    document.getElementById("login-form").addEventListener("submit", function (event) {-->
<!--    event.preventDefault(); // Prevent page reload-->
<!--    modalLogin.classList.remove("modal_open");-->
<!--    // alert("Реєстрація успішна!");-->
<!--});-->

<!--    // Scroll to registration-->
<!--    const registerBtn = document.getElementById('sign-up');-->

<!--    registerBtn.addEventListener('click', () => {-->
<!--        document.getElementById("signup-form").scrollIntoView({behavior: "smooth"});-->
<!--    })-->


<!--</script>-->
<!--{% endblock extra_scripts%}-->




