{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '//musicapp/сss/Office.css' %}">
{% endblock extra_css%}

{% block content %}

<div class="profile-container">
    <div class="profile-details">
        <h1>Особистий кабінет</h1>
        <h2>Деталі профілю</h2>
        <p>Ім'я користувача: Емінем</p>
        <p>Email: eminem@example.com</p>
        
        <h2>Зміна паролю</h2>
        <form class="password-change">
            <label for="current-password">Поточний пароль:</label>
            <input type="password" id="current-password" required>

            <label for="new-password">Новий пароль:</label>
            <input type="password" id="new-password" required>

            <label for="confirm-password">Підтвердити новий пароль:</label>
            <input type="password" id="confirm-password" required>

            <button type="submit">Змінити пароль</button>
        </form>
    </div>
    
    <!-- Картинка праворуч -->
    <div class="profile-image">
        <img src="{% static '/musicapp/images/Trending songs mix.png' %}" alt="Profile Image">
    </div>
</div>

{% endblock content%}
