{% extends "base.html" %}
{% load static %}
{% load custom_filters %}



{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Albums.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Playlist.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/PlayerControls.css' %}">
{% endblock extra_css%}

{% block content %}
<!-- music-player-container --><!-- music-player-container -->
 <!-- music-player-container --><!-- music-player-container -->
  <!-- music-player-container --><!-- music-player-container -->
<div class="music-player-container">
    <div class="album-cover">
        <img src="{% static '/musicapp/images/Rectangle 1.png' %}" alt="Song Cover">
    </div>
    <div class="music-info">
        <h3>Song Name</h3>
        <p>Artist Name</p>
    </div>
    {% include 'PlayerControls.html' %}
</div>
</div>






<!-- Trending Songs Section -->


<!-- Table for Trending Songs -->
<div class="song-table-container">
    <table class="song-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Date</th>
                <th>Album</th>
                <th>Time</th>
                <th>Play</th>
            </tr>
        </thead>
        <tbody>
        {% for song in playlist_songs %}
            <tr>
                <td>
                    <!-- Фото для кожного треку -->
                    <img src="{{ song.get_image }}" alt="{{ song.name }}" class="song-cover"> {{ song.name }}
                </td>
                <td>{{ song.release_date|date:"M d, Y" }}</td>
                <td>{{ song.album.name|default:"-" }}</td>
                <td class="song-time">{{ song.duration|format_duration }}</td>
                <td>{{ song.duration|format_duration }} <span class="heart-icon">❤</span> <span class="play-icon" onclick="playSong(this, '{{ song.audio_url }}')">▶</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content%}

