{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '//musicapp/сss/Albums.css' %}">
    <link rel="stylesheet" href="{% static '//musicapp/сss/Premium.css' %}">
{% endblock extra_css%}


{% block content %}

<div class="premium-container">
    <h1>Слухайте без обмежень. Спробуйте безкоштовно з Premium Individual протягом 1 місяця.</h1>
    <p>Потім усього 4,99 USD/на місяць. Можна скасувати будь-коли.</p>
    <div class="buttons">
        <button class="start-btn">Почати</button>
        <button class="view-all-subscriptions-btn">Переглянути всі підписки</button>
    </div>
    <p class="footer-info">Безкоштовно протягом 1 місяця, потім 4,99 USD на місяць. Пропозиція доступна, лише якщо ви раніше не користувалися Premium-підпискою. <a href="#">Діють Умови.</a></p>
</div>




<div class="premium-cards-container">
    <!-- Card 1 -->
    <div class="premium-card">
        <h2>Individual</h2>
        <p>Безкоштовно на 1 місяць</p>
        <p>Потім 4,99 USD на місяць</p>
        <ul>
            <li>1 акаунт Premium</li>
            <li>Можна скасувати будь-коли</li>
        </ul>
        <button>Спробуйте безкоштовно протягом 1 місяця</button>
        <p>Безкоштовно протягом 1 місяця, потім 4,99 USD на місяць. Пропозиція доступна, лише якщо ви раніше не користувались Premium-підпискою.</p>
    </div>

    <!-- Card 2 -->
    <div class="premium-card">
        <h2>Student</h2>
        <p>Безкоштовно на 1 місяць</p>
        <p>Потім 2,49 USD на місяць</p>
        <ul>
            <li>1 підтверджений акаунт Premium</li>
            <li>Знижка для студентів, що відповідають умовам</li>
            <li>Можна скасувати будь-коли</li>
        </ul>
        <button>Спробуйте безкоштовно протягом 1 місяця</button>
        <p>Безкоштовно протягом 1 місяця, потім 2,49 USD на місяць. Пропозиція доступна тільки для студентів, які відповідають умовам.</p>
    </div>

    <!-- Card 3 -->
    <div class="premium-card">
        <h2>Duo</h2>
        <p>6,49 USD на місяць</p>
        <ul>
            <li>2 акаунти Premium</li>
            <li>Можна скасувати будь-коли</li>
        </ul>
        <button>Одержати Premium Duo</button>
        <p>Для двох користувачів, які проживають за одною адресою. Діють Умови.</p>
    </div>
</div>

{% endblock content%}
