{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/New-Release-Songs.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Trending-Songs.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Artists.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Join-Our-Platform.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ArtistsSidebar.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ModalRegister.css' %}">

{% endblock extra_css%}

{% block content %}

<div class="playlist-container">
    <h2>Search <span>Results:</span></h2>
    {% if songs %}
    <table class="tracklist">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Album</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>

            {% for song in songs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="song-title">
                    <img src="{{ song.get_image }}" alt="{{ song.name }}">
                    <div>
                        <a href="{% url 'song' song.id %}"><strong>{{ song.name }}</strong><br></a>
                        <small>{{ song.artist.name }}</small>
                    </div>
                </td>
                <td>{{ song.release_date|date:"M d, Y" }}</td>
                <td>{{ song.album.name|default:"-" }}</td>
                <td>{{ song.duration|format_duration }}
                    <span class="heart-button" data-song-id="{{ song.id }}">
                           <span class="heart-icon">
                        {% if song.id in favorite_song_ids %}
                            <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#e600ff">
                              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                                       2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                                       C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5
                                       c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                            </svg>

                        {% else %}
                            <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="#e600ff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                                       2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                                       C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5
                                       c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                            </svg>

                        {% endif %}
                        </span> <!-- Default empty heart icon -->

                    </span>
                    <span class="play-icon" onclick="playSong(this, '{{ song.audio_url }}')">▶</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="margin-top: 100px; margin-bottom: 100px">No songs found.</p>
    {% endif %}
<!--    <div class="view-all">+ View All</div>-->
</div>


<div class="popular-artists-container">
    {% for artist in artists %}
    <a href="{{ artist.get_absolute_url }}">
        <div class="artist-block">
            <img src="{{ artist.get_profile_image }}" alt="{{ artist.name }}">
        </div>
    </a>
    {% empty %}
        <tr>
            <td colspan="5" style="margin-top: 100px; margin-bottom: 100px">No artists found.</td>
        </tr>

    {% endfor %}

</div>
<div class="new-release-container">
    {% for album in albums %}
    <a href="{% url 'album' album.id %}">
        <div class="song-block">
            <img src="{{ album.get_image }}" alt="{{ album.name }}">
            <div class="song-title">{{ album.name }}<br><small>{{ album.owner.name }}</small></div>
        </div>
    </a>
    {% empty %}
        <tr>
            <td colspan="5" style="margin-top: 100px; margin-bottom: 100px">No albums found.</td>
        </tr>


    {% endfor %}

</div>

{% endblock content%}
