{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Settings.css' %}">
{% endblock extra_css%}


{% block content %}

<div class="settings-container">
    <h1>Налаштування</h1>

    <div class="setting">
        <div class="setting-title">
            <h2>Акаунт</h2>
            <p>Змінити способи входу</p>
        </div>
        <div class="setting-actions">


        </div>
    </div>

    <div class="setting">
        <div class="setting-title">
            <h2>Мова</h2>
            <p>Виберіть мову. Щоб зміни почали діяти, перезавантажте додаток.</p>
        </div>
        <div class="setting-actions">
            <select>
                <option>Українська (Ukrainian)</option>
                <option>English</option>
            </select>
        </div>
    </div>

    <div class="setting">
        <div class="setting-title">
            <h2>Моя бібліотека</h2>
            <p>Використовувати компактний режим</p>
        </div>
        <div class="setting-actions">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <div class="setting">
        <div class="setting-title">
            <h2>Відображення</h2>
            <p>Показувати панель "Відтворюється" після натискання кнопки "Відтворити"</p>

        </div>
        <div class="setting-actions">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>

        </div>
    </div>

    <div class="setting">
        <div class="setting-title">
            <h2>Спільнота</h2>
            <p>Показувати списки моїх підписників і підписок у моєму публічному профілі</p>
        </div>
        <div class="setting-actions">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>

{% endblock content%}
