{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Albums.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ArtistsSidebar.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/New-Release-Songs.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/Settings.css' %}">

{% endblock extra_css%}


{% block content %}


<!-- Контейнер для картинки з текстом -->
<div class="image-container">
    <img src="{% static '/musicapp/images/Eminem.png' %}" alt="Eminem" class="image">
    <div class="text-overlay">Eminem</div>
</div>



<!-- Нові релізи пісень -->
<div class="new-release-container">
    <h2>Artist’s  <span>Playlist</span></h2>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle_17__1_-removebg-preview.png' %}" alt="Time">
        <div class="song-title">Time<br><small>Luciano</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle_17__2_-removebg-preview.png' %}" alt="112">
        <div class="song-title">112<br><small>jazzek</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle_17__3_-removebg-preview.png' %}" alt="We Don't Care">
        <div class="song-title">We Don't Care<br><small>Kyanu & DJ Gullum</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle_17__4_-removebg-preview.png' %}" alt="Who I Am">
        <div class="song-title">Who I Am<br><small>Alan Walker & Elias</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 1.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 2.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
</div>

<!-- Popular Artists -->
<div class="popular-artists-container">
    <h2>Artist’s  <span>Playlist</span></h2>
    <div class="artist-block">
        <img src="{% static '/musicapp/images/Eminiem.png' %}" alt="Eminem">
    </div>
    <div class="artist-block">
        <img src="{% static '/musicapp/images/The Weekend_1.png' %}" alt="The Weekend">
    </div>
    <div class="artist-block">
        <img src="{% static '/musicapp/images/Adele_1.png' %}" alt="Adele">
    </div>
    <div class="artist-block">
        <img src="{% static '/musicapp/images/Lana Del Ray_1.png' %}" alt="Lana Del Ray">
    </div>
    <div class="artist-block">
        <img src="{% static '/musicapp/images/Harry Styles.png' %}" alt="Harry Styles">
    </div>
    <div class="artist-block">
        <img src="{% static '/musicapp/images/Billie Eilish.png' %}" alt="Billie Eilish">
    </div>
    <div class="artist-block">
        <img src="{% static '/musicapp/images/Adele.png' %}" alt="Lana Del Ray">
    </div>
</div>


<!-- Нові релізи пісень -->
<div class="new-release-container">
    <h2>Artist’s  <span>Albums</span></h2>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 1.png' %}" alt="Time">
        <div class="song-title">Time<br><small>Luciano</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 2.png' %}" alt="112">
        <div class="song-title">112<br><small>jazzek</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 3.png' %}" alt="We Don't Care">
        <div class="song-title">We Don't Care<br><small>Kyanu & DJ Gullum</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 4.png' %}" alt="Who I Am">
        <div class="song-title">Who I Am<br><small>Alan Walker & Elias</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 5.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 2.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
</div>


<!-- Нові релізи пісень -->
<div class="new-release-container">
    <h2>Top  <span>Albums</span></h2>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 1.png' %}" alt="Time">
        <div class="song-title">Time<br><small>Luciano</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 2.png' %}" alt="112">
        <div class="song-title">112<br><small>jazzek</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 3.png' %}" alt="We Don't Care">
        <div class="song-title">We Don't Care<br><small>Kyanu & DJ Gullum</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 4.png' %}" alt="Who I Am">
        <div class="song-title">Who I Am<br><small>Alan Walker & Elias</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 5.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 2.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
</div>


<!-- Нові релізи пісень -->
<div class="new-release-container">
    <h2>Weekly Top  <span>Albums</span></h2>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 1.png' %}" alt="Time">
        <div class="song-title">Time<br><small>Luciano</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 2.png' %}" alt="112">
        <div class="song-title">112<br><small>jazzek</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 3.png' %}" alt="We Don't Care">
        <div class="song-title">We Don't Care<br><small>Kyanu & DJ Gullum</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 4.png' %}" alt="Who I Am">
        <div class="song-title">Who I Am<br><small>Alan Walker & Elias</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 5.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
    <div class="song-block">
        <img src="{% static '/musicapp/images/Rectangle 2.png' %}" alt="Baixo">
        <div class="song-title">Baixo<br><small>XXAnteria</small></div>
    </div>
</div>

{% endblock content%}
