{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Song.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ModalPlaylist.css' %}">
{% endblock extra_css%}

{% block content %}

<div class="lyrics-container">
  <div class="song-header">
    <img src="{{ song.get_image }}" alt="{{ song.name }}">
    <div>
      <div class="song-title">{{ song.name }}</div>
      <div class="song-artist"><a href="{{ song.artist.get_absolute_url }}">{{ song.artist.name }}</a></div>
    </div>
  </div>

  <div class="lyrics">
    {% if song.lyrics %}
        {% for line in song.lyrics.upper.splitlines %}
        <p class="highlight1">{{ line }}</p>
      {% endfor %}
    {% else %}
      <p>No lyrics available.</p>
    {% endif %}
  </div>
</div>



<div class="playlist-container">

</div>

<!-- Модальне вікно -->
<div class="modal">
  <div class="modal-content">
    <h2>Новий плейлист</h2>
    <form>
      <input type="text" placeholder="Назва плейлиста" required>
      <textarea rows="4" placeholder="Опис (необов’язково)"></textarea>
      <button type="submit">Створити</button>
    </form>
  </div>
</div>

{% endblock content%}