{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/musicapp/сss/Song.css' %}">
    <link rel="stylesheet" href="{% static '/musicapp/сss/ModalPlaylist.css' %}">
{% endblock extra_css%}

{% block content %}

<div class="lyrics-container">
  <div class="song-header">
    <img src="{% static '/musicapp/images/The_Neighbourhood.png' %}" alt="Beggin">
    <div>
      <div class="song-title">Beggin</div>
      <div class="song-artist">Måneskin</div>
    </div>
  </div>

  <div class="lyrics">
    <p>SO AH, ANY TIME I NEED YA, LET ME GO</p>
    <p>EVERY TIME I REACH, YOU GET ME LOW</p>
    <p>EVERY TIME I SEEK, YOU LET ME KNOW</p>
    <p>BUT I PLANTED THAT SEED, JUST LET ME GROW</p>
    <p>I'M ON MY KNEES WHILE I'M (BEGGIN')</p>
    <p>CAUSE I DON'T WANNA LOSE (YOU)</p>
    <p>I GOT MY ARMS ALL SPREAD</p>
    <p>I HOPE THAT MY HEART GETS FED</p>
    <p>MATTER OF FACT, GIRL, I'M BEGGIN'! (BEGGIN', BEGGIN')</p>

    <p class="highlight1">BEGGIN', BEGGIN' YOU</p>
    <p class="highlight1">PUT YOUR LOVING HAND OUT, BABY</p>
    <p class="highlight1">BEGGIN', BEGGIN' YOU</p>
    <p class="highlight1">PUT YOUR LOVING HAND OUT, DARLING</p>

    <p class="highlight1">I NEED YOU (YEAH) TO UNDERSTAND</p>
    <p class="highlight1">TRIED SO HARD (HEY) TO BE YOUR MAN</p>
    <p class="highlight2">THE KIND OF MAN (OH) YOU WANT IN THE END</p>
    <p class="highlight2">ONLY THEN CAN I BEGIN TO LIVE AGAIN</p>

    <p class="dimmed">AN EMPTY SHELL I USED TO BE</p>
    <p class="dimmed">SHADOW OF MY LIFE WAS HANGIN' OVER ME</p>
    <p class="dimmed">A BROKEN MAN THAT I DON'T KNOW</p>
    <p class="dimmed">WON'T EVEN STAND THE DEVIL'S CHANCE TO WIN MY SOUL</p>
  </div>
</div>



<div class="playlist-container">

</div>

<!-- Модальне вікно -->
<div class="modal">
  <div class="modal-content">
    <h2>Новий плейлист</h2>
    <form>
      <input type="text" placeholder="Назва плейлиста" required>
      <textarea rows="4" placeholder="Опис (необов’язково)"></textarea>
      <button type="submit">Створити</button>
    </form>
  </div>
</div>

{% endblock content%}